In [2]:
import pandas as pd
df=pd.read_csv('student-mat.csv',sep=';')
df.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10

In [3]:
df.isnull().sum()

school        0
sex           0
age           0
address       0
famsize       0
Pstatus       0
Medu          0
Fedu          0
Mjob          0
Fjob          0
reason        0
guardian      0
traveltime    0
studytime     0
failures      0
schoolsup     0
famsup        0
paid          0
activities    0
nursery       0
higher        0
internet      0
romantic      0
famrel        0
freetime      0
goout         0
Dalc          0
Walc          0
health        0
absences      0
G1            0
G2            0
G3            0
dtype: int64

In [4]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
for column in df.columns:
    if df[column].dtype == 'object':
        df[column] = le.fit_transform(df[column])

In [5]:
df.head

<bound method NDFrame.head of      school  sex  age  address  famsize  Pstatus  Medu  Fedu  Mjob  Fjob  ...  \
0         0    0   18        1        0        0     4     4     0     4  ...
1         0    0   17        1        0        1     1     1     0     2  ...
2         0    0   15        1        1        1     1     1     0     2  ...
3         0    0   15        1        0        1     4     2     1     3  ...
4         0    0   16        1        0        1     3     3     2     2  ...
..      ...  ...  ...      ...      ...      ...   ...   ...   ...   ...  ...
390       1    1   20        1        1        0     2     2     3     3  ...
391       1    1   17        1        1        1     3     1     3     3  ...
392       1    1   21        0        0        1     1     1     2     2  ...
393       1    1   18        0        1        1     3     2     3     2  ...
394       1    1   19        1        1        1     1     1     2     0  ...

     famrel  freetime  goout  Dalc  Walc  health  absences  G1  G2  G3
0         4         3      4     1     1       3         6   5   6   6
1         5         3      3     1     1       3         4   5   5   6
2         4         3      2     2     3       3        10   7   8  10
3         3         2      2     1     1       5         2  15  14  15
4         4         3      2     1     2       5         4   6  10  10
..      ...       ...    ...   ...   ...     ...       ...  ..  ..  ..
390       5         5      4     4     5       4        11   9   9   9
391       2         4      5     3     4       2         3  14  16  16
392       5         5      3     3     3       3         3  10   8   7
393       4         4      1     3     4       5         0  11  12  10
394       3         2      3     3     3       5         5   8   9   9

[395 rows x 33 columns]>

In [6]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
import numpy as np

In [7]:
X = df.drop('G3', axis=1)   # Features
y = df['G3']                # Target

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [8]:
model = LinearRegression()
model.fit(X_train, y_train)

y_pred = model.predict(X_test)

# Evaluation
mae = mean_absolute_error(y_test, y_pred)
rmse = np.sqrt(mean_squared_error(y_test, y_pred))
r2 = r2_score(y_test, y_pred)

print("ðŸ“Š Linear Regression Results:")
print(f"MAE: {mae}")
print(f"RMSE: {rmse}")
print(f"RÂ² Score: {r2}")

ðŸ“Š Linear Regression Results:
MAE: 1.4954750100522758
RMSE: 2.2432998258963823
RÂ² Score: 0.7545777855043501

In [9]:
from sklearn.ensemble import RandomForestRegressor

rf_model = RandomForestRegressor()
rf_model.fit(X_train, y_train)

rf_pred = rf_model.predict(X_test)

In [10]:
rf_mae = mean_absolute_error(y_test, rf_pred)
rf_rmse = np.sqrt(mean_squared_error(y_test, rf_pred))
rf_r2 = r2_score(y_test, rf_pred)

print("ðŸŒ² Random Forest Results:")
print(f"MAE: {rf_mae}")
print(f"RMSE: {rf_rmse}")
print(f"RÂ² Score: {rf_r2}")

ðŸŒ² Random Forest Results:
MAE: 1.119873417721519
RMSE: 1.8622019768359301
RÂ² Score: 0.8308808481542838

In [11]:
from sklearn.ensemble import GradientBoostingRegressor

gb_model = GradientBoostingRegressor()
gb_model.fit(X_train, y_train)

gb_pred = gb_model.predict(X_test)

In [12]:
gb_mae = mean_absolute_error(y_test, gb_pred)
gb_rmse = np.sqrt(mean_squared_error(y_test, gb_pred))
gb_r2 = r2_score(y_test, gb_pred)

print("âš¡ Gradient Boosting Results:")
print(f"MAE: {gb_mae}")
print(f"RMSE: {gb_rmse}")
print(f"RÂ² Score: {gb_r2}")

âš¡ Gradient Boosting Results:
MAE: 1.0923101240743072
RMSE: 1.8329886898142789
RÂ² Score: 0.8361453405562445